<html>
<head>
    <style type="text/css">
        #map_thumbnail {
            border: 2px solid royalblue;
        }

        table, th, td {
            border: 1px solid black;
        }

        .ok {
            color: green;
        }

        .not_ok {
            color: red;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>CSW / WMS Metadata + Validation States</th>
        <th>WMS GetMap Test</th>
    </tr>
    {% for n in my_list %}
    <tr>
        <td>
            <ul>
                <li>{{loop.index}}</li>
                <li>csw_url: {{n[0]}}</li>
                <li>title: {{n[1]}}</li>
                <li>subjects: {{n[2]}}</li>
                <li>wms_url: {{n[3]}}</li>
                <li>wms_layer_for_record: {{n[4]}}</li>
                <li>only_1_choice: {{n[5]}}</li>
                <li>match_dist: {{n[6]}}</li>
                <li>bbox: {{n[7]}}</li>
                <li>bbox_srs: {{n[8]}}</li>
                <li>bbox_wgs84: {{n[9]}}</li>
                {% if n[10] == 'True'%}
                <li>wms_get_cap_error: <span class="not_ok">Yes</span></li>
                {% else %}
                <li>wms_get_cap_error: <span class="ok">No</span></li>
                {% endif %}
                {% if n[11] == 'True' %}
                <li>wms_get_map_error: <span class="not_ok">Yes</span></li>
                {% else %}
                <li>wms_get_map_error: <span class="ok">No</span></li>
                {% endif %}
                {% if n[12] == 'True'%}
                <li>wms_get_map_req: <span class="ok">Yes</span></li>
                {% else %}
                <li>wms_get_map_req: <span class="not_ok">No</span></li>
                {% endif %}
                <li>image_status: {{n[13]}}</li>
            </ul>
        </td>
        <td><img id="map_thumbnail" width=150 height=150 src="{{n[14]}}"></img></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>