<html>
<head>
    <style type="text/css">
        #map_thumbnail {
            border: 2px solid royalblue;
        }

        table, th, td {
            border: 1px solid black;
        }

        .ok {
            color: green;
        }

        .not_ok {
            color: red;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>CSW / WMS Metadata + Validation States</th>
        <th>WMS GetMap Test</th>
    </tr>
    {% for n in my_list %}
    <tr>
        <td>
            <ul>
                <li>title: {{n[0]}}</li>
                <li>subjects: {{n[1]}}</li>
                <li>wms_url: {{n[2]}}</li>
                <li>wms_layer_for_record: {{n[3]}}</li>
                <li>only_1_choice: {{n[4]}}</li>
                <li>match_dist: {{n[5]}}</li>
                <li>bbox_srs: {{n[6]}}</li>
                <li>wms_get_cap_error: {{n[7]}}</li>
                <li>wms_get_map_error: {{n[8]}}</li>
                <li>made_get_map_req: {{n[9]}}</li>
                <li>image_status: {{n[10]}}</li>
            </ul>
        </td>
        <td><img id="map_thumbnail" width=150 height=150 src="{{n[11]}}"></img></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>